*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
/* Image Section */
section.imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #210027, #8045ff);
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form Section */
section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    z-index: 2;
    position: absolute;
    margin-left: 50%;
}
section .contentBx .formBx{
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff7d;
}
section .contentBx .formBx h2{
    color: #551aac;
    font-weight: 600;
    font-size: 1.9em;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #551aac;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #7738d5;
    font-weight: 16px;
    letter-spacing: 1px;
    color: #454545;
    border-radius: 30px;  
}
section .contentBx .formBx .inputBx input[type = "submit"]:hover{
    background: #311276;
    color: white;
    cursor: pointer;
}
section .contentBx .formBx .inputBx .inputcolor{ 
    background-color: #551aac;
    color: white;
}
section .contentBx .formBx .remember {
    margin: 10px 5px;
    color: #311276;
    font-weight: 400;
    font-size: 14px;
    
}
section .contentBx .formBx .remember .checkbox{
    margin: 15px 10px;
    cursor: pointer;
}
section .contentBx .formBx .inputBx p{
    color: #311276;
}
section .contentBx .formBx .inputBx .sign{
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #311276;
}
section .contentBx .formBx .inputBx .sign:hover{
    color: #7451bf;
}

@media (max-width: 768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .imgBx img{
       
    }
    section .contentBx .formBx h2{
        font-size: 20px;
    }
   
    section .contentBx .formBx .inputBx {
        font-size: 15px;
    }
    section .contentBx .formBx .inputBx p {
        font-size: 12px;
    }
}
@media (max-width: 1080px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    section .imgBx img{
        object-fit: cover;
    }
    section .contentBx .formBx h2{
        font-size: 32px;
    }
   
    section .contentBx .formBx .inputBx {
        font-size: 20px;
    }
}
@media (max-width: 550px){
    section .contentBx .formBx{ 
        padding: 30px;
        width: 80%;
    }
    
}
